{{ block title }}
    Gifts
{{ endblock }}
{{ block content }}

<p> The last round of trading is now finished. You have received another <b>{{C.GIFT}}</b>. You may now gift up to {{C.GIFT}} to each other participant. Only one of your gifts will be randomly chosen and given to the respective participant. You will keep the remaining money. The amount you gifted will be multiplied by three. If you gift €0.10, for example, the recipient receives €0.30, and you receive €0.90. In the end, you will learn how much you were gifted.<p/>
<hr>
    {{ for p in other_players }}

  {{ if p.number not in exchange_partners }}

<p> You did not trade with participant <b style="color:{{p.label}}">{{p.label}}</b>.</p>

{{else}}

<p> You may remind yourself of your trade history with participant <b style="color:{{p.label}}">{{p.label}}</b> this table:</p>
        <table class="reputation_table">
          <tr>
            <th>Round</th>
              <th>Trade with participant</th>
            <th>Agreed units (send)</th>
            <th>Sent units</th>
              <th>Agreed units (receive)</th>
            <th>Received units</th>
          </tr>
        {{ for exchange in participant.exchange_list }}
            {{if exchange.partner.number == p.number }}
    <tr>
        <td>{{ exchange.round }} </td>
        <td><b style="color:{{exchange.partner.label}}">{{ exchange.partner.label }}</b></td>
        <td>{{ exchange.amount_agreed_sent }} </td>
        <td>{{ exchange.amount_sent }} </td>
        <td>{{ exchange.amount_agreed_receive }} </td>
        <td>{{ exchange.amount_received }}</td>
    </tr>
            {{endif}}
        {{ endfor }}
            </table>
            {{endif}}
<br>
    <p> Gift between €0 and €1 to participant <b style="color:{{p.label}}">{{p.label}}</b>:
    <b>€<span id="value{{p.number}}">0</span></b></p>
    <input id="gift_slider{{p.number}}" oninput="changeGift({{p.number}})" class="deviation-slider" type="range" min="0" max="1" value="0" step="0.01">

    <hr>
    {{ endfor }}
    {{ form.gift1 }}
    {{ form.gift2 }}
    {{ form.gift3 }}
    {{ form.gift4 }}
    {{ form.gift5 }}
    {{ form.gift6 }}

    {{ next_button }}

{{ endblock }}


{% block style %}
<style>
input[type=range]::-webkit-slider-thumb {
  background-color: #4caf50;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #ddd;
}

#id_gift1, #id_gift2, #id_gift3, #id_gift4, #id_gift5, #id_gift6{
  display: none;
}

td, th{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px 5px;
    text-align: center;

}

.deviation-slider {
  width: 400px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    display: none;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;



</style>
{{ endblock }}

{% block scripts %}

<script>
    var player_list = js_vars.other_players;

        function changeGift(player){
        var slider = document.getElementById("gift_slider" + player);
        var value = document.getElementById("value" + player);
        var deviation = document.getElementById('id_gift' + player);
        value.innerHTML = slider.value;
        deviation.value = slider.value;
    }
</script>

{% endblock %}