{{ block title }}
    Survey
{{ endblock }}
{{ block content }}

<p>Please answer a few questions on your relationship to the other participants:</p>

<hr>
{{ for p in other_players }}

 {{ if p.number not in exchange_partners }}

<p> You did not trade with participant <b style="color:{{p.label}}">{{p.label}}</b>.</p>

{{else}}

<p> You may remind yourself of your trade history with participant <b style="color:{{p.label}}">{{ p.label }}</b> this table:</p>

        <table class="reputation_table">
  <tr>
    <th>Round</th>
      <th>Trade with participant</th>
    <th>Agreed units (send)</th>
    <th>Sent units</th>
      <th>Agreed units (receive)</th>
    <th>Received units</th>
  </tr>
        {{ for exchange in participant.exchange_list }}
            {{if exchange.partner.number == p.number }}
    <tr>
        <td>{{ exchange.round }} </td>
        <td><b style="color:{{exchange.partner.label}}">{{ exchange.partner.label }}</b></td>
        <td>{{ exchange.amount_agreed_sent }} </td>
        <td>{{ exchange.amount_sent }} </td>
        <td>{{ exchange.amount_agreed_receive }} </td>
        <td>{{ exchange.amount_received }}</td>
    </tr>
            {{endif}}
        {{ endfor }}
            </table>
            {{endif}}
    <p> How would you describe your relationship to participant <b style="color:{{p.label}}">{{p.label}}</b> on each of the following?</p>
<table class="table">
        <tbody><tr>
            <th><label for="id_close{{p}}">Close/Distant</label></th>

                <td><label for="id_close{{p.number}}-0">very distant</label> <input class="form-check-input" type="radio" id="id_close{{p.number}}-0" name="close{{p.number}}" required="" value="0"></td>

                <td><label for="id_close{{p.number}}-1">distant</label><br><input class="form-check-input" type="radio" id="id_close{{p.number}}-1" name="close{{p.number}}" required="" value="1"></td>

                <td><label for="id_close{{p.number}}-2">rather distant</label> <input class="form-check-input" type="radio" id="id_close{{p.number}}-2" name="close{{p.number}}" required="" value="2"></td>

                <td><label for="id_close{{p.number}}-3">neither close nor distant</label> <input class="form-check-input" type="radio" id="id_close{{p.number}}-3" name="close{{p.number}}" required="" value="3"></td>

                <td><label for="id_close{{p.number}}-4">rather close</label> <input class="form-check-input" type="radio" id="id_close{{p.number}}-4" name="close{{p.number}}" required="" value="4"></td>

                <td><label for="id_close{{p.number}}-5">close</label><br><input class="form-check-input" type="radio" id="id_close{{p.number}}-5" name="close{{p.number}}" required="" value="5"></td>

                <td><label for="id_close{{p.number}}-6">very close</label> <input class="form-check-input" type="radio" id="id_close{{p.number}}-6" name="close{{p.number}}" required="" value="6"></td>

        </tr>
        <tr>
            <th><label for="id_cohesive{{p.number}}">United/divided</label></th>

                <td><label for="id_cohesive{{p.number}}-0">very united</label> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-0" name="cohesive{{p.number}}" required="" value="0"></td>

                <td><label for="id_cohesive{{p.number}}-1">united</label> <br> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-1" name="cohesive{{p.number}}" required="" value="1"></td>

                <td><label for="id_cohesive{{p.number}}-2">rather united</label> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-2" name="cohesive{{p.number}}" required="" value="2"></td>

                <td><label for="id_cohesive{{p.number}}-3">neither united nor divided</label> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-3" name="cohesive{{p.number}}" required="" value="3"></td>

                <td><label for="id_cohesive{{p.number}}-4">rather divided</label> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-4" name="cohesive{{p.number}}" required="" value="4"></td>

                <td><label for="id_cohesive{{p.number}}-5">divided</label><br><input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-5" name="cohesive{{p.number}}" required="" value="5"></td>

                <td><label for="id_cohesive{{p.number}}-6">very divided</label> <input class="form-check-input" type="radio" id="id_cohesive{{p.number}}-6" name="cohesive{{p.number}}" required="" value="6"></td>
        </tr>
        <tr>
            <th><label for="id_team{{p.number}}">Team-oriented/self-oriented</label></th>

                <td><label for="id_team{{p.number}}-0">very team-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-0" name="team{{p.number}}" required="" value="0"></td>

                <td><label for="id_team{{p.number}}-1">team-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-1" name="team{{p.number}}" required="" value="1"></td>

                <td><label for="id_team{{p.number}}-2">rather team-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-2" name="team{{p.number}}" required="" value="2"></td>

                <td><label for="id_team{{p.number}}-3">neither team-oriented nor self-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-3" name="team{{p.number}}" required="" value="3"></td>

                <td><label for="id_team{{p.number}}-4">rather self-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-4" name="team{{p.number}}" required="" value="4"></td>

                <td><label for="id_team{{p.number}}-5">self-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-5" name="team{{p.number}}" required="" value="5"></td>

                <td><label for="id_team{{p.number}}-6">very self-oriented</label> <input class="form-check-input" type="radio" id="id_team{{p.number}}-6" name="team{{p.number}}" required="" value="6"></td>
        </tr>
        <tr>
            <th><label for="id_partners{{p.number}}">Partners/competitors</label></th>

                <td><label for="id_partners{{p.number}}-0">strong partners</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-0" name="partners{{p.number}}" required="" value="0"></td>

                <td><label for="id_partners{{p.number}}-1">partners</label> <br> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-1" name="partners{{p.number}}" required="" value="1"></td>

                <td><label for="id_partners{{p.number}}-2">rather partners</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-2" name="partners{{p.number}}" required="" value="2"></td>

                <td><label for="id_partners{{p.number}}-3">neither partners nor competitors</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-3" name="partners{{p.number}}" required="" value="3"></td>

                <td><label for="id_partners{{p.number}}-4">rather competitors</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-4" name="partners{{p.number}}" required="" value="4"></td>

                <td><label for="id_partners{{p.number}}-5">competitors</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-5" name="partners{{p.number}}" required="" value="5"></td>

                <td><label for="id_partners{{p.number}}-6">strong competitors</label> <input class="form-check-input" type="radio" id="id_partners{{p.number}}-6" name="partners{{p.number}}" required="" value="6"></td>
        </tr>
        <tr>
            <th><label for="id_harmonious{{p.number}}">Harmonious/conflictual</label></th>

                <td><label for="id_harmonious{{p.number}}-0">very harmonious</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-0" name="harmonious{{p.number}}" required="" value="0"></td>

                <td><label for="id_harmonious{{p.number}}-1">harmonious</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-1" name="harmonious{{p.number}}" required="" value="1"></td>

                <td><label for="id_harmonious{{p.number}}-2">rather harmonious</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-2" name="harmonious{{p.number}}" required="" value="2"></td>

                <td><label for="id_harmonious{{p.number}}-3">neither harmonious nor conflictual</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-3" name="harmonious{{p.number}}" required="" value="3"></td>

                <td><label for="id_harmonious{{p.number}}-4">rather conflictual</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-4" name="harmonious{{p.number}}" required="" value="4"></td>

                <td><label for="id_harmonious{{p.number}}-5">conflictual</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-5" name="harmonious{{p.number}}" required="" value="5"></td>

                <td><label for="id_harmonious{{p.number}}-6">very conflictual</label> <input class="form-check-input" type="radio" id="id_harmonious{{p.number}}-6" name="harmonious{{p.number}}" required="" value="6"></td>
        </tr>
</tbody></table>
<hr>
    {{ endfor }}

    {{ next_button }}

{{ endblock }}

{% block style %}
<style>
input[type=range]::-webkit-slider-thumb {
  background-color: #4caf50;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #ddd;
}

#id_gift1, #id_gift2, #id_gift3, #id_gift4, #id_gift5, #id_gift6{
  display: none;
}

td, th{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px 5px;
    text-align: center;

}

</style>
{{ endblock }}
