{{ block title }}Sending Units{{ endblock }}
{{ block content }}

    <p>
    You have agreed to send {{player.send}} units to participant {{exchange_partner}}. You may send up to {{C.DEVIATION}} units more or less than agreed on.
    </p>
    {{ form.deviation }}

        <table id="slider_table">
            <tr>
                        <td style='border:none;' class="quant-cell-left">Change in your pay-off: <br><span id="left">0.00</span> €</td>
                        <td style='border:none;' class="quant-cell-right">Change in other's pay-off: <br><span id="right">0.00</span> €</td>
            </tr>
            <tr>
                        <td style='border:none;' colspan="2" id="slider-cell"><p id="result">Send <b>{{player.send}} units</b> as agreed upon.</p><input id="slider" class="deviation-slider" type="range" min="{{player.send}}-3" max="{{player.send}}+3" value="{{player.send}}" step="1" required></td>
            </tr>
        </table>
        <br>

    {{ next_button }}
{{ endblock }}

{% block style %}
<style>
input[type=range]::-webkit-slider-thumb {
  background-color: #4caf50;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #ddd;
}

#id_deviation {
  display: none;
}

.deviation-slider {
  width: 400px;
}

   td, th, tr {
    border: 1px solid black;
    padding: 5px;
  }

   .quant-cell-right{
    text-align: right;
}

   #slider-cell {
       text-align: center;
   }

</style>

{% endblock %}

{% block scripts %}
<script>
  var slider = document.getElementById("slider");
  slider.min = js_vars.slider_min;
  slider.max = js_vars.slider_max;
  slider.value = js_vars.slider_middle;
  var deviation = document.getElementById('id_deviation');
  deviation.value = 0;

  slider.oninput = function() {
    deviation.value = this.value - js_vars.slider_middle;
    if (this.value == js_vars.slider_middle) {
        document.getElementById('result').innerHTML = "Send <b>" + this.value + " units</b> as agreed upon.";
    } else {
        document.getElementById('result').innerHTML = "Send <b>" + this.value + " units</b> instead of {{player.send}} units.";
    }
    var payoff_change_partner = js_vars.pay_traded_unit * (this.value - js_vars.slider_middle);
    var payoff_change = js_vars.pay_budget_unit * (js_vars.slider_middle - this.value);
      document.getElementById('right').innerHTML = payoff_change_partner.toFixed(2);
      document.getElementById('left').innerHTML =  payoff_change.toFixed(2);

  }
</script>
{% endblock %}
