{{ block title }}Negotiation{{ endblock }}
{{ block content }}

    <p>
    Please send exchange offers to other participants and respond to the offers of other players to exchange points. You can base your decisions on the information about the other participants' behavior in previous rounds in the table below. Once you accept an offer or one of your offers is accepted by another participant, you cannot change your exchange anymore.
    </p>

    <p> You have received <b>20 units</b> for this round. You earn two points for each unit you receive through exchange and one point for each unit of your initial budget.
    </p>

    <div id="reputation">
        <table id="reputation_table">
  <tr>
    <th>Participant</th>
      <th>Select for Offer</th>
    <th>Average Deviation</th>
    <th>List of Deviations</th>
  </tr>
        {{ for reputation in reputation_list }}
    <tr>
        <td>Participant {{ reputation.player_id }}</td>
        <td><button type="button" id="select-button{{ reputation.player_id }}" class="select-button" onclick="selectRecipient({{ reputation.player_id }})" disabled>Select participant {{ reputation.player_id }}</button></td>
        <td>{{ reputation.reputation_mean }} </td>
        <td>{{ reputation.reputation_list }}</td>
    </tr>
        {{ endfor }}
            </table>
    </div>

    <hr>
<div class="container">
    <div id="negotiation" class="left-half">
        <p><b>Send offers</b></p>
        <p>You can send as many offers as you wish. However, you can only send a follow-up offer to a player, if he or she has declined your previous one. Remeber that the offered and the demanded amount must add up to 20.</p>
    <p id="sendOffer">
        <b><span id="display-recipient"></span></b>
        <input type="hidden" name="recipient" id="recipient" min="1" max="6">
        <table id="slider_table">
            <tr>
                        <td class="quant-cell-left">Offer: <br><span id="left">10</span></td>
                        <td class="quant-cell-right">Demand: <br><span id="right">10</span></td>
            </tr>
            <tr>
                        <td colspan="2" id="slider-cell"><input type="range" id="offer" class="offer-slider" name="slider" min="0" max="20" value="10" step="1"></td>
            </tr>
                </table>
        <input type="button" value="Send offer" id="button_send" disabled>
    </form>
    </div>

        <div id="outgoing" class="right-half">
            <p><b>Pending offers</b></p>
                <table id="sent_table">
                      <tr>
                        <th>Recipient</th>
                        <th>Offered</th>
                        <th>Demanded</th>
                    </tr>
                </table>
        </div>
</div>
    <div id="incoming" class="full-block">
                <hr>
    <table id="received_table">
        <p><b>Accept or decline offers</b></p>
        <p>If you decline an offer, the sender can send you another offer. If you accept an offer, all your pending offers will be closed.</p>

  <tr>
      <th>Sender</th>
      <th>Receive</th>
      <th>Send</th>
      <th>Accept or Decline</th>
  </tr>
    </table>
        </div>

    <p id="display-exchange"> </p>

{{ endblock }}

{% block scripts %}
<script>
    const form = document.getElementById('sendOffer');
    document.getElementById('button_send').onclick = sendOffer;
    const received_table = document.getElementById('received_table')
    const sent_table = document.getElementById('sent_table')
    window.onload = liveSend('R');

    function sendOffer(event) {
        let recipient = document.getElementById('recipient').value;
        let offer = document.getElementById('offer').value;
        let demand = 20 - offer;
        liveSend(['O',recipient, offer, demand]); // O for create offer
    }

    function liveRecv(data) { // First list item of data is the type of action
        console.log(data)
        if (data[0] == 'R') {
            displayPlayers(data[1]);
            displayPendingOffers(data[2]);
            displayOpenOffers(data[3]);
        } else if (data[0] == 'A') { // Offer accepted
            displayExchange(data[1], data[2], data[3]);
        } else if (data[0] == 'N') { // All players agreed
            document.getElementById("form").submit();
        } else if (data[0] == 'E'){
            alert(data[1]);
        }
    }

    function displayPendingOffers(offer_list){
        $("#sent_table").find("tr:not(:first)").remove();
        for (i = 0; offer_list.length > i; i++){
            var row = sent_table.insertRow(-1);
            row.id = 'sent_row' + offer_list[i][0];
            var cell_player = row.insertCell(0);
            var cell_offer = row.insertCell(1);
            var cell_demand = row.insertCell(2);
            cell_player.innerHTML = 'Participant ' + offer_list[i][1];
            cell_offer.innerHTML = offer_list[i][2];
            cell_demand.innerHTML = offer_list[i][3];
        }
    }

    function displayOpenOffers(offer_list) {
        $("#received_table").find("tr:not(:first)").remove();
        for (i = 0; offer_list.length > i; i++) {
            var row = received_table.insertRow(-1);
            row.id = 'sent_row' + offer_list[i][0];
            var cell_player = row.insertCell(0);
            var cell_offer = row.insertCell(1);
            var cell_demand = row.insertCell(2);
            cell_player.innerHTML = 'Participant ' + offer_list[i][1];
            cell_offer.innerHTML = offer_list[i][2];
            cell_demand.innerHTML = offer_list[i][3];
            var cell_accept_decline = row.insertCell(3);
            cell_accept_decline.innerHTML = '<button type="button" id="accept_' + offer_list[i][0] + '" onclick="acceptOffer(' + offer_list[i][0] + ')">Accept</button><br><button type="button" id="decline_' + offer_list[i][0] + '" onclick="declineOffer(' + offer_list[i][0] + ')">Decline</button>';
        }
    }

    function declineOffer(offer_id){
        // Send to server
        liveSend(['D', offer_id]) // D for decline
    }

    function acceptOffer(offer_id){
        // Send to server
        liveSend(['A', offer_id]); // A for accept
    }

   function displayPlayers(player_list){
        var buttons = document.getElementsByClassName('select-button')
        for(var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true;
        }
        $.each(player_list, function(index, number){
            document.getElementById('select-button' + number).removeAttribute('disabled')
        });
        if (document.getElementById('recipient').value == ""){
            document.getElementById('display-recipient').innerHTML = "Please chose a participant from the table above.";
        } else if (!player_list.includes(document.getElementById('recipient').value)){
            document.getElementById('recipient').value = "";
            document.getElementById('display-recipient').innerHTML = "Please chose another participant.";
            document.getElementById('button_send').disabled = true;
        }
    }

    function displayExchange(partner, send, receive){
        document.getElementById('negotiation').style.display = 'none';
        document.getElementById('incoming').style.display = 'none';
        document.getElementById('outgoing').style.display = 'none';
        document.getElementById('display-exchange').innerHTML = 'You have agreed with participant ' + partner + ' to send ' + send + ' units and to receive ' + receive
+ ' units.'}

    document.getElementById('offer').addEventListener('input', changeDemand)
    function changeDemand(){
        document.getElementById('left').innerHTML = document.getElementById('offer').value
        document.getElementById('right').innerHTML = 20 - document.getElementById('offer').value
    }

    function selectRecipient(number) {
  document.getElementById("recipient").value = number;
  document.getElementById("display-recipient").innerHTML = "You selected participant " + number + ".";
  document.getElementById('button_send').removeAttribute('disabled');
}


</script>
{{ endblock }}

{% block style %}
<style>
  #reputation_table{
    display: flex;
    flex-direction: row;
      text-align: center;
  }

   td, th {
    border: 1px solid black;
    padding: 5px;
  }

.container {
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
}


.left-half {
    float: left;
    width: 600px;
    margin-right: 10px;
}


.right-half {
    float: left;
    width: 300px;
    margin-left: 10px;
}

.full-block {
    float: none;
    display: inline-block;
}

.offer-slider {
  width: 400px;
}

#button_send {
    margin-top: 10px;
    width: 400px;
}

.quant-cell-right{
    text-align: right;
}

</style>
{{ endblock }}

