{{ block title }}Negotiation{{ endblock }}
{{ block content }}

    <p>
    Please send offers to other participants and respond to the offers of others to trade points. You can base your decisions on the information about the other participants' behavior in previous rounds in the table below.
    </p>

    <p> You have received <b>20 units</b> for this round. You earn two points for each unit you receive through trade and one point for each unit of your initial budget.
    </p>

    <p>Once you accept an offer or one of your offers is accepted by another participant, you cannot change your trade anymore. If you agreed on a trade, all your pending offers will be closed.</p>

    <div id="reputation">
        <table id="reputation_table">
  <tr>
    <th>Participant</th>
      <th>Select for Offer</th>
    <th class="width200">Average difference between agreed and sent amounts</th>
    <th>List of differences between agreed and sent amounts</th>
      <th>Pending received offer</th>
      <th>Accept/decline sent offer</th>
      <th>Pending sent offer</th>
  </tr>
        {{ for reputation in reputation_list }}
    <tr>
        <td>Participant {{ reputation.player_id }}</td>
        <td><button type="button" id="select-button{{ reputation.player_id }}" class="select-button" onclick="selectRecipient({{ reputation.player_id }})" disabled>Select participant {{ reputation.player_id }}</button></td>
        <td>{{ reputation.reputation_mean }} </td>
        <td>{{ reputation.reputation_list }}</td>
        <td id="received-cell-{{ reputation.player_id }}" class="received-cell"></td>
        <td id="feedback-cell-{{ reputation.player_id }}" class="feedback-cell"></td>
        <td id="sent-cell-{{ reputation.player_id }}" class="sent-cell"></td>
    </tr>
        {{ endfor }}
            </table>
    </div>

    <hr>
    <div id="negotiation">
        <p><b>Send offers</b></p>
        <p>You can send as many offers as you wish. However, you can only send a follow-up offer to a player, if he or she has declined your previous one.</p>
    <p id="sendOffer">
        <b><span id="display-recipient"></span></b>
        <input type="hidden" name="recipient" id="recipient" min="1" max="6">
        <table id="slider_table">
            <tr>
                        <td class="quant-cell-left">Offer: <br><span id="left">10</span></td>
                        <td class="quant-cell-right">Demand: <br><span id="right">10</span></td>
            </tr>
            <tr>
                        <td colspan="2" id="slider-cell"><input type="range" id="offer" class="offer-slider" name="slider" min="0" max="20" value="10" step="1"></td>
            </tr>
                </table>
        <input type="button" value="Send offer" id="button_send" disabled>
    </form>
            </div>

    <p id="display-exchange"> </p>

{{ endblock }}

{% block scripts %}
<script>
    const form = document.getElementById('sendOffer');
    document.getElementById('button_send').onclick = sendOffer;
    const received_table = document.getElementById('received_table')
    const sent_table = document.getElementById('sent_table')
    window.onload = liveSend('R');

    function sendOffer(event) {
        let recipient = document.getElementById('recipient').value;
        let offer = document.getElementById('offer').value;
        let demand = 20 - offer;
        liveSend(['O',recipient, offer, demand]); // O for create offer
    }

    function liveRecv(data) { // First list item of data is the type of action
        console.log(data)
        if (data[0] == 'R') {
            displayPlayers(data[1]);
            displayPendingOffers(data[2]);
            displayOpenOffers(data[3]);
        } else if (data[0] == 'A') { // Offer accepted
            displayExchange(data[1], data[2], data[3]);
        } else if (data[0] == 'N') { // All players agreed
            document.getElementById("form").submit();
        } else if (data[0] == 'E'){
            alert(data[1]);
        }
    }

    function displayPendingOffers(offer_list){
        var list1 = document.getElementsByClassName("sent-cell");
        for (i = 0; list1.length > i; i++) {
            list1[i].innerHTML = ""
        }
        for (i = 0; offer_list.length > i; i++){
            cell_offer = document.getElementById('sent-cell-' + offer_list[i][1]);
            var pay_off = js_vars.pay_traded_unit * offer_list[i][3] + js_vars.pay_budget_unit * offer_list[i][3];
            var pay_off_partner = js_vars.pay_traded_unit * offer_list[i][2] + js_vars.pay_budget_unit * offer_list[i][2];
            cell_offer.innerHTML = 'Receive ' + offer_list[i][3] + ' (' + pay_off.toFixed(2) + '€)' + ', send ' + offer_list[i][2] + ' (' + pay_off_partner.toFixed(2) + '€)';
        }
    }

    function displayOpenOffers(offer_list) {
        var list1 = document.getElementsByClassName("received-cell");
        var list2 = document.getElementsByClassName('feedback-cell');
        for (i = 0; list1.length > i; i++) {
            list1[i].innerHTML = ""
            list2[i].innerHTML = ""
        }

        for (i = 0; offer_list.length > i; i++) {
            cell_offer = document.getElementById('received-cell-' + offer_list[i][1]);
            cell_accept_decline = document.getElementById('feedback-cell-' + offer_list[i][1]);
            var pay_off = js_vars.pay_traded_unit * offer_list[i][2] + js_vars.pay_budget_unit * offer_list[i][2];
            var pay_off_partner = js_vars.pay_traded_unit * offer_list[i][3] + js_vars.pay_budget_unit * offer_list[i][3];
            cell_offer.innerHTML = 'Receive ' + offer_list[i][2] + ' (' + pay_off.toFixed(2) + '€)' + ', send ' + offer_list[i][3] + ' (' + pay_off_partner.toFixed(2) + '€)';
            cell_accept_decline.innerHTML = '<button type="button" id="accept_' + offer_list[i][0] + '" onclick="acceptOffer(' + offer_list[i][0] + ')">Accept</button><br><button type="button" id="decline_' + offer_list[i][0] + '" onclick="declineOffer(' + offer_list[i][0] + ')">Decline</button>';
        }
    }

    function declineOffer(offer_id){
        // Send to server
        liveSend(['D', offer_id]) // D for decline
    }

    function acceptOffer(offer_id){
        // Send to server
        liveSend(['A', offer_id]); // A for accept
    }

   function displayPlayers(player_list){
        var buttons = document.getElementsByClassName('select-button')
        for(var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true;
        }
        $.each(player_list, function(index, number){
            document.getElementById('select-button' + number).removeAttribute('disabled')
        });
        if (document.getElementById('recipient').value == ""){
            document.getElementById('display-recipient').innerHTML = "Please chose a participant from the table above.";
        } else if (!player_list.includes(document.getElementById('recipient').value)){
            document.getElementById('recipient').value = "";
            document.getElementById('display-recipient').innerHTML = "Please chose another participant.";
            document.getElementById('button_send').disabled = true;
        }
    }

    function displayExchange(partner, send, receive){
        document.getElementById('reputation').style.display = 'none';
        document.getElementById('negotiation').style.display = 'none';
        document.getElementById('display-exchange').innerHTML = 'You have agreed with participant ' + partner + ' to send ' + send + ' units and to receive ' + receive
+ ' units.'}

    document.getElementById('offer').addEventListener('input', changeDemand)
    function changeDemand(){
        var offer = document.getElementById('offer').value;
        var demand = 20 - offer;
        var pay_off = js_vars.pay_traded_unit * demand + js_vars.pay_budget_unit * demand;
        var pay_off_partner = js_vars.pay_traded_unit * offer + js_vars.pay_budget_unit * offer;
        document.getElementById('left').innerHTML = offer + ' (Other\'s pay-off: ' + pay_off_partner.toFixed(2) + ' €)';
        document.getElementById('right').innerHTML = demand + ' (Your pay-off: ' + pay_off.toFixed(2) + ' €)';
    }

    function selectRecipient(number) {
  document.getElementById("recipient").value = number;
  document.getElementById("display-recipient").innerHTML = "You selected participant " + number + ".";
  document.getElementById('button_send').removeAttribute('disabled');
}


</script>
{{ endblock }}

{% block style %}
<style>
  #reputation_table{
    display: flex;
    flex-direction: row;
      text-align: center;
  }

   td, th {
    border: 1px solid black;
    padding: 5px;
  }

.container {
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
}

.full-block {
    float: none;
    display: inline-block;
}

.offer-slider {
  width: 400px;
}

#button_send {
    margin-top: 10px;
    width: 400px;
}

.quant-cell-right{
    text-align: right;
}

.width200 {
    width: 250px;
}

  .otree-timer.alert.alert-warning {
    padding: 5px 5px !important;
      padding-left: 5px;
}

.otree-timer.alert.alert-warning > p {
    margin-bottom: 0px !important;
}

</style>
{{ endblock }}

